.pag {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    min-width: 300px;
    max-width: 400px;
    &-item {
        box-sizing: border-box;
        width: 26px;
        height: 28px;
        line-height: 20px;
        text-align: center;
        padding: 4px 0;
        border: 0;
        background-color: rgb(244, 244, 245);
        color: rgb(96, 98, 102);
        font-weight: 550;
        cursor: pointer;
        margin: 0 5px;
        transition: all .15s linear;
        &:hover {
            background-color: #b2b2b2;
            opacity: .9;
        }
    }
}
.active {
    background-color: rgb(64, 158, 255);
    color: white;
    cursor: default;

}